@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

.fontsize1{
    font-size: 32px;
    color: #383838;
    font-family: 'Noto Sans TC';
    color: rgb(30, 30, 30);
}
.font1{
    font-size: 14px;
    color: #aaaaaa;
}
.boxshadow{
    /* box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25); */
    box-shadow: 0px 0px 40px rgba(170, 170, 170, 0.7);
}
.thecover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 25px;
}
.thecover img{
    width: 100%;
    /* max-width: 500px; */
    /* min-width: 10%; */
    /* min-height: 270; */
    /* object-fit: cover; */
}
.span{
    font-size: 16px;
    color: #aaaaaa;
}
.font{
    font-size: 16px;
    color: #383838;
    font-family: 'Noto Sans TC';
}
.aa{
    border-radius: 30px;
    border-width: 0px;
    background-color: #e64637;
    width: 169px;
    height: 65px;
    color: #ffffff;
    font-size: 24px;
}
.buttom1{
    width: 108px;
    height: 41px;
    background-color: #f5f5f5;
    color: #aaaaaa;
    border-radius: 30px;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.buttom3{
    width: 22px;
    height: 22px;
    background-color: #f5f5f5;
    color: #aaaaaa;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    cursor: pointer;
    user-select: none;
    /* 禁止反白 */
}
.cc{
    position: relative;
    top:-3px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}
.input{
    appearance: textfield;
    text-align: center;
    font-size: 16px;
    color: #e64637;
    border: none;
    border-bottom: 1px solid black;
    width: 29px;
    height: 33px;
}
.googlemap{
    border:0;
}
.date{
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    z-index: 2;
    font-size: 20px;
    color: #383838;
    font-family: 'Noto Sans TC';
    font-size: 20px;
    text-align: center;
    width: 170px;
    height: 55px;
}
.date::-webkit-calendar-picker-indicator {
    width: 27px;
    opacity: 0;
}
.selectedDate {
    position: relative;
    top: 20px;
    right: 25px;
    height: 25px;
}
.selectedDate2 {
    position: relative;
    top: 0px;
    right: 25px;
    height: 25px;
}
.col{
    padding: 0;
}
.radio{
    /* appearance: none; */
    display: none;
}
.radio:checked+label{
    background-color: #ffffff;
    color: #e64637;
    border: 1px solid #e64637;
    border-color: #e64637;
}
.checkbox{
    display: none;
}
.checkbox:checked+label{
    background-color: #ffffff;
    color: #e64637;
    border: 1px solid #e64637;
    border-color: #e64637;
}
.div1{
    margin-top: 200px; 
    padding: 0px;
}
.div2{
    margin: 0px 170px !important;
    padding: 20px;
}
.div3{
    padding: 20px;
}
.div3x{
    padding: 20px;
    background-color: rgb(245, 245, 245);
}
.smlspan{
    font-size: 12px;
    color: #565656;
}
.smlspan2{
    margin-left: 10px;
}
.div4{
    padding: 0px 20px;
    width: 100%;
}
.div5{
    margin-top: 30px;
    width: 100%; 
    height: 500px; 
    object-fit: cover;
}
.div5img{
    width: 100%;
    height: 100%;
}
.div6{
    margin: 0px 10px;
}
.div7{
    margin: 20px 0px;
}
.div8{
    margin-top: 10px;
}
.div9{
    padding-right: 123px;
    margin-top: 10px;
}
.div10{
    width: 100%;
}
.div11{
    margin-left: 50px;
}
.div12{
    color: #e64637; 
    font-size: 20px;
}
.div13{
    width: 100%;
    height: 100%;
}
.div14{
    width: 170px;
    height: 55px;
    text-align: center;
    font-size: 20px;
    appearance: none;
    position: relative;
    z-index: 2;
    background-color: transparent;
}
.div55{
    position: fixed;
    z-index: 500001;
    background-color: rgba(0, 0, 0,0.5);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.div56{
    width: 522px;
    height: 612px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 144px;
    padding: 20px 40px 20px 40px ;
}
.div56span{
    font-size: 32px;
    color: #383838;
    margin-bottom: 17px;
}
.div56line{
    border: 2px solid #f5f5f5;
    width: 435px;
}
.div57{
    font-size: 16px;
    color: #aaaaaa;
}
.div58{
    font-size: 20px;
    color: #383838;
}
.button2{
    width: 200px;
    height: 72px;
    appearance: none;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #e64637;
    border-radius: 50px;
    color: #e64637;
    font-size: 24px;
}
.button3{
    width: 200px;
    height: 72px;
    appearance: none;
    background-color: #e64637;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-size: 24px;
}
.div59{
    margin-top: 15px;
}
.div60{
    margin-top: 15px;
}
.div61{
    margin-left: 20px;
}
.div56check{
    width: 522px;
    height: 612px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 144px;
    padding: 20px 40px 20px 40px ;
    box-shadow: 0px 0px 40px rgba(170, 170, 170, 0.7);
}