       
.alter_{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    top: 8vh;
    height: 1600px;
}
/* 主體 */
.selfalter {
    height: 1350px;
    width: 1060px;
    background: #FFFFFF;
    background: linear-gradient(165deg, #ffffff, #ffffff, #ffffff, rgba(250, 230, 230, 0.37));
    box-shadow: 0px 0px 40px rgba(170, 170, 170, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.alter_form {
    width: 90%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alter_form>div:first-child {
    display: flex;
}

/* 照片區 */
.alter_PicPla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#oploadPic {
    display: none;
}

#picFile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#picFile,
#picFile img {
    background-color: rgb(245, 245, 245);
    width: 175px;
    height: 175px;
    object-fit: cover;
    clip-path: circle(50%);
    font-size: 20px;
}

#picFile figure{
    filter: drop-shadow(15px 1px 3px 50px rgba(212, 212, 212, 0.5));
}

.alter_showStar img{
    width: 20px;
    height: 20px;
    margin: 15px 3px 0px 3px;
}

/* 主要輸入內容 */
.alter_input,
.alter_textarea {
    border: none;
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    height: 45px;
    margin-bottom: 27px;
    padding: 10px 23px;
    font-size: 24px;
}

.alter_label {
    color: #AAAAAA;
    font-size: 20px;
    line-height: 43px;
}

.alter_sex {
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    width: 140px;
    height: 55px;
    border: 2px solid #E6E6E6;
    font-size: 24px;
    color: #E6E6E6;
    line-height: 55px;
    margin-bottom: 27px;
}

.alter_sex:hover {
    color: black;
    background-color: #F5F5F5;
}

.alter_degree {
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    width: 450px;
    height: 55px;
    margin: 7px 0px 8px 0px;
    padding-top: 10px;
}

.alter_degree div {
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 24px;
    width: 108px;
}

.alter_degree label {
    display: inline-block;
    color: black;
    font-size: 20px;
    position: relative;
    padding: 0px 25px 0px 12px;
    cursor: pointer;
}


/* 徽章 */
.alter_mark {
    background-color: rgb(230, 230, 230);
    height: 64px;
    width: 640px;
    border-radius: 50px;
    /* line-height: 64px; */
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.alter_mark_img {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0px 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #d2d2d2;
    opacity: 0.7;
}
.selectedstars{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 0px 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #b6b6b4;
    
    background-color: white;
    box-shadow: #b6b6b4 0px 4px 5px 1px;
}

/* 描述 */
#account_describe {
    width: 640px;
    height: 170px;
    border-radius: 30px;
}

/* 取消 確認 */
.alter_yesOrNot {
    display: flex;
    margin-top: 50px;
}

.alter_yesOrNot input[type="submit"] {
    border: none;
    border-radius: 50px;
    background-color: rgb(230, 70, 55);
    color: white;
    padding: 0px 0px;
    width: 370px;
    height: 63px;
    transition: all ease-out 0.2s;
    margin-left: 10px;
    font-size: 1.5rem;
}

.alter_backself {
    color: rgb(230, 70, 55);
    border: 1px solid rgb(230, 70, 55);
    padding: 0px;
    display: inline-block;
    border-radius: 50px;
    width: 370px;
    margin-right: 10px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    font-size: 1.5rem;
}

.alter_backself:hover{
    color:rgb(254, 96, 82) ;
    border:rgb(254, 96, 82) 1px solid;
    box-shadow: -1px 2px 2px 0px rgba(255, 138, 138, 0.7);
}

.alter_yesOrNot input:hover {
    background-color: rgb(254, 96, 82);
    box-shadow: 2px 2px 2px 0px rgba(141, 7, 7, 0.7);
}

/* build */
.build_{
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    top: 8vh; */
    height: 1300px;
}
.selfbuild {
    height: 1050px;
    /* width: 1060px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(170, 170, 170, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500; */
}
.build_form{
    padding-top: 20px;
    /* width: 90%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center; */
}
#build_showStar img{
    width: 20px;
    height: 20px;
    margin: 20px 3px 0px 3px;
}