/* 活動容器 */
.activity{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}
/* 標題 */
.oTitle{
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(170, 170, 170);
    margin-bottom: 10px;
}
/* 文字 */
.oText{
    font-family: 'Noto Sans TC';
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
    margin-bottom: 20px;
}
/* 訂單容器 */
.order{
    width: 80%;
    height: 80%;
    border-left: 1px solid rgb(230, 230, 230);
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    overflow: scroll;
    position: relative;
}
/* 檢視、編輯、刪除 */
.orderBtn{
    border-radius: 40px;
    width:100px;
    height: 60px;
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    float: right;
    margin-left: 20px;
    position:sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 編輯 */
.order>a:nth-of-type(2){
    border: 1px solid #AAAAAA;
    color: #AAAAAA;
    background-color: white;
}
/* 檢視 */
.order>a:nth-of-type(1){
    color: rgba(230, 70, 55, 1);
    border: 1px solid rgba(230, 70, 55, 1);
    background-color: white;
}
/* 刪除 */
button.orderBtn{
    color: white;
    border: 0px;
    background-color: rgb(170, 170, 170);
}
/* 成員頭貼 */
.order>img{
    clip-path: circle(50% at 50% 50%);
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
    margin-right: 15px;
}
/* 隱藏 */
.notshow{
    display: none !important;
}