.aForm{
    font-family: 'Noto Sans TC';
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    height: 80%;
    position: relative;
    padding: 40px;
    overflow: scroll;
}
/* 上傳照片 */
.aForm>div:nth-of-type(1) {
    width: 170px;
    height: 170px;
    position: absolute;
    right: 40px;
    left: auto;
    background-image: url("../img/upload_c.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    clip-path: circle(50% at 50% 50%);
    border: none;
    cursor: pointer;
}
.aForm input[type='file']{
    opacity: 0;
}
/* 日期 */
.aForm input[type="date"]{
    width: 200px;
    height: 65px;
    border-radius: 0;
    border-bottom: 1px solid rgb(56,56,56);
    background-color: white;
    background-image: url('../img/icon_select.svg');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-size: 1.5rem;
    font-weight: 400;

}
.aForm input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.aForm input{
    margin-top: 10px;
    margin-bottom: 30px;
    /* background-color: rgb(245, 245, 245); */
    border-radius: 50px;
    border: none;
    width: 100%;
    height: 65px;
    background-color: rgb(230, 230, 230);
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.aForm input[type=text]:nth-of-type(4){
    width: 400px;
}
/* 時段 */
.aForm select {
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(56, 56, 56);
    width: 200px;
    height: 65px;
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-weight: 400;
    font-size: 1.5rem;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../img/icon_select.svg');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
/* 至 */
.aForm .fTimeTo {
    display: inline;
    margin: auto 20px;
}
.aForm>div{
    font-family: 'Noto Sans TC';
    color: rgb(170, 170, 170);
    font-size: 1.2rem;
    font-weight: 400;
    
}
.aForm>div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 儲值成員 */
.aForm img{
    clip-path: circle(50% at 50% 50%);
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
    margin-right: 15px;
    opacity: 30%;
    margin-top: 10px;
}
.aForm input[type="radio"]{
    display: none;
}
.aForm input[type="radio"]:checked+label img {
    opacity: 100%;
}
/* 表單送出｜取消 */
.aForm>div>a,.aForm input[type="submit"]{
    border: 1px solid rgb(230, 70, 55);
    font-family: 'Noto Sans TC';
    color: rgb(230, 70, 55);
    font-size: 1.2rem;
    font-weight: 400;
    background-color: white;
    width: 48%;
    height: 90px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aForm input[type="submit"]{
    border: none;
    background-color: rgb(230, 70, 55);
    color: white;
    margin: 0;
    float: right;
}
.aForm textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 150px;
    font-size: 1.5rem;
    padding: 30px;
    box-sizing: border-box;
}
.aForm div:last-child{
    margin-bottom: 0px;
}