/* 標題 */
.bForm{
    font-family: 'Noto Sans TC';
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    position: relative;
    padding: 40px 40px 40px 40px;
    overflow: scroll;
    overflow-x: hidden;
    height: 85%;
}
/* 照片容器 */
.bForm>div:nth-of-type(1){
    width: 170px;
    height: 170px;
    position: absolute;
    right: 40px;
    left: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    clip-path: circle(50% at 50% 50%);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
/* 舊的input隱藏 */
.bForm input[type='file']{
    opacity: 0;
    position: absolute;
    z-index:-1;
}
/* 顯示資料庫的照片 */
.bForm img{
    height: 170px;
    object-fit: fill;
}
/* 輸入框 */
.bForm input {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    border: none;
    width: 400px;
    height: 55px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
}
.bForm input:focus {
    outline: none;
}
.bForm input::placeholder{
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-weight: 400;
    font-size: 1.2rem;
    text-align: start;
}
/* 下拉選單 */
.bForm select {
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(56, 56, 56);
    width: 150px;
    height: 55px;
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/icon_select.svg");
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
option{
    font-size: 1rem;
}

/* 至 */
.fTimeTo {
    display: inline;
    margin: auto 20px;
}
/* 羽球程度 */
.formDegree {
    position: relative;
    left: 60px;
}
/* 描述 */
textarea {
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
    border: none;
    width:100%;
    height: 130px;
    font-size: 1.2rem;
    padding: 30px;
    box-sizing: border-box;
}
textarea:focus {
    outline: none;
}
/* 取消 */
.bForm>a{
    border: 1px solid rgb(230, 70, 55);
    width: 48%;
    height: 80px;
    border-radius: 50px;
    background-color: white;
    font-family: 'Noto Sans TC';
    color: rgb(230, 70, 55);
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
/* 提交 */
.bForm>button{
    border: none;
    width: 48%;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(230, 70, 55);
    font-family: 'Noto Sans TC';
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
    cursor: pointer;
}