/* 搜索欄位 */
.search{
    width: 15%;
    height: 80%;
    margin: 40px;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
}
/* 訂單標題 訂單內容標題 */
.sTitle,.oTitle{
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(170, 170, 170);
    margin-bottom: 12px;
}
/* 搜尋日期標題 */
.sTitledate{
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(170, 170, 170);
    margin-bottom: 7px;
}
/* 文字 */
.sDate a:last-child{
    margin-bottom: 0px;
}
.sDate div,.oText,.sDate a{
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
    margin-bottom: 13px;
}
.sDate a{
    display: inline-block;
}

.linkvisited{
    color: rgb(230, 70, 55) !important;
    text-decoration: none !important;
}
/* 顯示訂單日期清單框 */
.sDate{
    height: 20%;
    overflow: scroll;
}
/* 開始日期｜結束日期 */
.search>input{
    border: none;
    border-bottom: 1px solid rgb(56, 56, 56);
    width: 150px;
    height: 50px;
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-weight: 400;
    font-size: 1.2rem;
    box-sizing: border-box;
    background-image: url('../img/icon_select.svg');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
/* 日曆icon清除 */
.search>input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
/* 結束日期 */
.search>input:nth-of-type(2){
    margin-bottom: 25px;
}
/* 搜尋 */
.search button{
    background-color: rgba(230, 70, 55, 1);
    border: none;
    border-radius: 40px;
    width: 100%;
    margin-right: 40px;
    height: 60px;
    font-family: 'Noto Sans TC';
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.2rem;
    position: absolute; 
     bottom: 0; 
}