.fForm{
    font-family: 'Noto Sans TC';
    color: rgb(170, 170, 170);
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    height: 80%;
    position: relative;
    padding: 40px;
    overflow: scroll;
}
.fForm input[type="date"]{
    border-radius: 0;
    border-bottom: 1px solid rgb(56,56,56);
    background-color: white;
    background-image: url(../img/icon_select.svg);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    display: flex;
    justify-content: center;
    width: 230px;
    height: 65px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
.fForm input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
/* 成員頭貼 */
.fForm img{
    clip-path: circle(50% at 50% 50%);
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
    margin-top: 10px;
    margin-right: 15px;
}
.fForm input{
    margin-top: 10px;
    margin-bottom: 30px;
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    border: none;
    width: 400px;
    height: 65px;
    font-size: 1.5rem;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    font-family: 'Noto Sans TC';
}
/* 選取頭貼 */
.fForm label img {
    height: 100px;
    opacity: 30%;
    background-color: rgba(170, 170, 170,.2);
}
.fForm input[name='member']:checked+label img {
    opacity: 100%;
}

.fForm .mContent>div{
    font-family: 'Noto Sans TC';
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.fForm .mContent>div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 儲值成員 */
.fForm .mContent img{
    clip-path: circle(50% at 50% 50%);
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 5px;
    opacity: 30%;
}
.fForm input[type="radio"]{
    display: none;
}
.fForm input[type="radio"]:checked+label img {
    opacity: 100%;
}
/* 表單送出｜取消 */
.fForm a,
.fForm button{
    border: 1px solid rgb(230, 70, 55);
    width: 48%;
    height: 90px;
    border-radius: 50px;
    background-color: white;
    font-family: 'Noto Sans TC';
    color: rgb(230, 70, 55);
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
/* 提交 */
.fForm a:last-child{
    border: none;
    background-color: rgb(230, 70, 55);
    color: white;
    margin: 0;
    width: 48%;
    height: 90px;
    float: right;
    font-size: 1.2rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
}
/* 描述 */
.fForm textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 150px;
    font-size: 1.5rem;
    padding: 30px;
    box-sizing: border-box;
}