.mForm{
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    width: 100%;
    height: 80%;
    position: relative;
    padding: 40px;
    overflow: scroll;
}
.mTitle {
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(170, 170, 170);
    margin-bottom: 10px;
}
.mForm input[type=radio] {
    display: none;
}
/* 頭貼容器 */
.mForm label{
    width: 100px;
    height: 100px;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 35px;
    margin-right: 15px;
}
/* 頭貼 */
.mForm label img {
    height: 100px;
    opacity: 30%;
}
.mForm input[name='teammember']:checked+label img {
    opacity: 100%;
}
/* 成員 */
.mForm .checkMember {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.mForm .checkMember:last-child {
    border-bottom: none;
}
.mForm .checkMember>img {
    width: 80px;
    height: 80px;
    display: inline;
    margin-bottom: 0px;
}
.mForm .checkMember>div:nth-child(2) {
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-size: 1.5rem;
    font-weight: 600;
    display: inline;
    margin-left: 25px;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mForm .checkMember>div:nth-child(3) {
    width: 80px;
    height: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.mForm .checkMember>div:nth-child(4) {
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    display: block;
    width: 50px;
}
.mForm .checkbtn {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.mForm .checkbtn>button:nth-child(1) {
    width: 90px;
    height: 50px;
    border: 1px solid #AAAAAA;
    color: #AAAAAA;
    background-color: white;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 40px;
    float: right;
    font-size: 1.2rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
}
.mForm .checkbtn>button:nth-of-type(2) {
    width: 80px;
    height: 40px;
    border: none;
    color: white;
    background-color: rgb(230, 70, 55);
    border-radius: 20px;
    float: right;
    position: relative;
    right: 0px;
    margin-left: 10px;
}
.mForm .badge {
    height: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;
    left: 104px;
    top: 82px;
}
.mForm .badge>img {
    width: 15px;
    height: 15px;
    margin: 0px;
}
.mForm .formbtn {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.mForm .formbtn a,
.mForm input {
    width: 48%;
    border-radius: 40px;
}
.mForm .formbtn a {
    border: 1px solid rgb(230, 70, 55);
    font-family: 'Noto Sans TC';
    color: rgb(230, 70, 55);
    font-size: 1.2rem;
    font-weight: 400;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mForm .formbtn input{
    background-color: rgb(230, 70, 55);
    color: white;font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Noto Sans TC';
    border: none;
}