.mForm{
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    width: 100%;
    height: 80%;
    position: relative;
    padding: 40px;
    overflow: scroll;
}
.mTitle {
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(170, 170, 170);
    margin-bottom: 10px;
}
.mForm input[type=radio] {
    display: none;
}
/* 頭貼容器 */
.mForm label{
    width: 100px;
    height: 100px;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%);
    margin-bottom: 35px;
    margin-right: 15px;
}
/* 頭貼 */
.mForm label img {
    height: 100px;
    opacity: 30%;
}
.mForm input[name='teammember']:checked+label img {
    opacity: 100%;
}
/* 成員 */
.checkMember {
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.checkMember:last-child {
    border-bottom: none;
}
.checkMember>img {
    width: 80px;
    height: 80px;
    display: inline;
    margin-bottom: 0px;
}
.checkMember>div:nth-child(2) {
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-size: 1.5rem;
    font-weight: 600;
    display: inline;
    margin-left: 25px;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.checkMember>div:nth-child(3) {
    width: 80px;
    height: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.checkMember>div:nth-child(4) {
    font-family: 'Noto Sans TC';
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    display: block;
    width: 50px;
}
.checkbtn {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
/* 刪除 */
/* 未刪除 */
.isNotDelete {
    width: 90px;
    height: 50px;
    border: 1px solid #AAAAAA;
    color: #AAAAAA;
    background-color: white;
    border-radius: 40px;
    float: right;
    font-size: 1.2rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
}
/* 已刪除 */
.isDelete{
    width: 90px;
    height: 50px;
    color:  rgb(170, 170, 170);
    border: none;
    background-color:rgb(230, 230, 230);
    border-radius: 40px;
    float: right;
    font-size: 1.2rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
}
.badge {
    height: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    position: absolute;
    left: 104px;
    top: 70px;
}
.badge>img {
    width: 15px;
    height: 15px;
    margin: 0px;
}
.formbtn {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
/* 取消｜儲存 */
.formbtn>a,
.formbtn>button {
    width: 48%;
    border-radius: 40px;
}
/* 取消 */
.formbtn>a {
    border: 1px solid rgb(230, 70, 55);
    font-family: 'Noto Sans TC';
    color: rgb(230, 70, 55);
    font-size: 1.2rem;
    font-weight: 400;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 儲存 */
.formbtn>a:nth-of-type(2){
    background-color: rgb(230, 70, 55);
    color: white;font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Noto Sans TC';
    border: none;
}
