/* 支出容器 */
.pay{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}
/* 標題 */
.oTitle{
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(170, 170, 170);
    margin-bottom: 10px;
}
/* 文字 */
.oText{
    font-family: 'Noto Sans TC';
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
    margin-bottom: 25px;
}
/* 訂單容器 */
.order{
    width: 80%;
    height: 85%;
    border-left: 1px solid rgb(230, 230, 230);
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    overflow: scroll;
    position: relative;
}
/* 編輯｜刪除 */
.order>button,.order>a{
    border: 1px solid #AAAAAA;
    border-radius: 40px;
    width:100px;
    height: 60px;
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: #AAAAAA;
    background-color: white;
    float: right;
    margin-left: 20px;
    position:sticky;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 刪除 */
.order>button:nth-of-type(1){
    color: white;
    border: 0px;
    background-color: rgb(170, 170, 170);
}

