.pForm{
    font-family: 'Noto Sans TC';
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    position: relative;
    padding: 40px 40px 0px 40px;
    overflow: scroll;
}
.pForm input[type="date"]{
    border-radius: 0;
    border-bottom: 1px solid rgb(56,56,56);
    background-color: white;
    background-image: url(../img/icon_select.svg);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    width: 200px;
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
}
.pForm input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    
}
.pForm input{
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    border: none;
    width: 400px;
    height: 55px;
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.pForm div{
    font-family: 'Noto Sans TC';
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.pForm div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 儲值成員 */
.pForm img{
    clip-path: circle(50% at 50% 50%);
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 5px;
    opacity: 30%;
}
.pForm input[type="radio"]{
    display: none;
}
.pForm input[type="radio"]:checked+label img {
    opacity: 100%;
}
/* 表單送出｜取消 */
.pForm div>a{
    border: 1px solid rgb(230, 70, 55);
    font-family: 'Noto Sans TC';
    color: rgb(230, 70, 55);
    font-size: 1.2rem;
    font-weight: 400;
    background-color: white;
    width: 48%;
    height: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pForm input[type="submit"]{
    border: none;
    background-color: rgb(230, 70, 55);
    color: white;
    margin: 0;
    width: 48%;
    height: 80px;
}
.pForm textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 150px;
    font-size: 1.2rem;
    padding: 30px;
    box-sizing: border-box;
}