.active_ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    top: 8vh;
    height: 900px;
}

.selfactive {
    /* width: 550px; */
    /* height: 400px; */
    width: 1060px;
    height: 709px;
    box-shadow: 0px 0px 40px rgba(170, 170, 170, 0.7);

}

.active_type,
.active_title {
    height: 16%;
    display: flex;
}

/* toggle */
.active_subCtrl {
    font-size: 1.5rem;
    font-weight: 600;
    color: gray;
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);

}

.active_act {
    background-color: white;
    border-bottom: 3px solid rgb(230, 70, 55);
    color: #000;
}


/* 場地 文章 */
/* .active_type button,
.active_title button {
    font-size: 1.5rem;
    font-weight: 600;
    color: gray;
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.active_type button:hover,
.active_title button:hover,
.active_type button:focus,
.active_title button:focus {
    background-color: white;
    border-bottom: 3px solid rgb(230, 70, 55);
} */

.active_title div,
.active_type div {
    color: gray;
    background-color: rgb(233, 233, 233);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 內文 */
.active_inner {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 15px;
    height: 68%;
    overflow: auto;
}

.active_inner>div>div>div>:nth-child(1),
.active_inner>div>div>div>:nth-child(3),
.active_inner>div>div>div>:nth-child(5),
.active_inner>div>div>div>:nth-child(7),
.active_inner>div>div>div>:nth-child(9),
.active_inner>div>div>div>:nth-child(11) {
    font-weight: 300;
    padding-top: 7px;
    color: gray;
    font-size: 1.2rem;
    line-height: 5vh;
    cursor: default;
}

/* 場地 */
#orderin {
    display: flex;
    height: 90%;
    width: 100%;
}

.eachOrder {
    width: 100%;
    display: flex;
}

.eachOrder>div:nth-child(1)>div:nth-child(1),
.eachOrder>div:nth-child(1)>div:nth-child(3) {
    margin-top: 10px;
}

.eachOrder>div {
    padding-left: 5%;
}

/* 日期區間選擇 */
.ordergettime {
    line-height: 50px;
}

.selfactive input[type='date'] {
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    z-index: 2;
}

.selfactive input[type="date"]::-webkit-calendar-picker-indicator {
    width: 27px;
    opacity: 0;
    cursor: pointer;
}

.selfactive .searchbox {
    line-height: normal;
    border-radius: 20px;
    display: block;
    position: relative;
    top: 11px;
    width: 100px;
    height: 26px;
    text-align: center;
    padding: 5px 0px;
    font-size: 10px;
    background-color: #E64637;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.selectedDate {
    /* 下拉標籤 */
    position: relative;
    /* top: 10px; */
    right: 25px;
}

.selectedfromart {
    /* 文章下拉標籤微調 */
    bottom: 5px;
}

/* 日期區間顯示 */
.showDate button {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 24px;
    margin: 15px 0px;
}


.showDate button:hover,
.showDate button:focus {
    color: rgb(230, 70, 55);
}

/* 租場清單 */
.ordermenu {
    flex: 3;
    padding-bottom: 1px;
}

#notalready {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notalready span {
    color: rgba(172, 172, 172, 0.547);
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 10px;
    cursor: default;
}

/* 再次預約 取消預約 */
.chuse_order {
    background-color: rgb(230, 70, 55);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    position: absolute;
    right: 5vh;
    bottom: 0px;

    /* width: 90px; */
    /* height: 30px; */
    width: 197px;
    height: 72px;
}

.selfactive .searchbox:hover,
.selfactive .searchbox:focus,
.chuse_order:hover {
    background-color: rgb(255, 87, 87);
}

/* 進行中 */
#ordering>:nth-child(1),
#ordering>:nth-child(3),
#ordering>:nth-child(4),
#ordering>:nth-child(7),
#ordering>:nth-child(9),
#ordering>:nth-child(11),
#ordering>:nth-child(13) {
    font-weight: 300;
    padding-top: 7px;
    color: gray;
    font-size: 1.2rem;
    line-height: 6vh;
}

@media(max-width: 1440px) {

    #ordering>:nth-child(1),
    #ordering>:nth-child(3),
    #ordering>:nth-child(4),
    #ordering>:nth-child(7),
    #ordering>:nth-child(9),
    #ordering>:nth-child(11),
    #ordering>:nth-child(13) {
        font-weight: 300;
        padding-top: 7px;
        color: gray;
        font-size: 1rem;
        line-height: 5vh;
    }

    #ordering>:nth-child(1) {
        line-height: 2vh;
        margin-bottom: 10px;
    }
}

#ordering>:nth-child(5) {
    font-size: 1.5rem;
    color: #000;
    line-height: 15px;
    font-weight: 400;
}

/* 文章內文 */
#artclein {
    justify-content: center;
    height: 90%;
    width: 100%;
}

#artclein>div>div {
    font-weight: 300;
    padding-top: 7px;
    color: gray;
    font-size: 1.2rem;
    line-height: 5vh;
    cursor: default;
}

#artclein table {
    height: 0px;
    width: 900px;
}

#artclein table tr:first-child {
    color: gray;
    font-size: 1.2rem;
    height: 10vh;
    cursor: default;
}

#artclein tr {
    border-bottom: 1px rgb(206, 206, 206) solid;
}

#artclein td {
    height: 60px;
    /* height: 8vh; */
}

.articlecontent {
    display: block;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 60px;
}
.articlefollow{
    text-align: center;
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.articlefollow:hover{
    font-size: larger;
    text-shadow: #9e9e9e 1px 1px 0px;
}

/* 文章搜尋 */
.active_articlefind {
    cursor: pointer;
    border: gray 1px solid;
    display: inline-block;
    width: 4.2rem;
    /* height: 2rem; */
    line-height: 1.6rem;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    padding: 1px 6px;
}
/* 零打 轉租選擇顯示 */
.article_chusefind{
    border-radius: 50px;
    width: 60px;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}
.article_chusefind:hover{
    background-color: rgb(230, 70, 55);
    color: white;
    border: 1px rgb(230, 70, 55) solid;
}
.notchfind{
    border: 1px gray solid;
    color: gray;
}
.chfind{
    background-color: rgb(230, 70, 55);
    color: white;
    border: 1px rgb(230, 70, 55) solid;
}


/* 編輯 刪除 */
#artclein td button {
    position: relative;
    left: 30px;
    border-radius: 50px;
    background-color: white;
    border: 1px gray solid;
    color: gray;
    font-size: 0.5em;


    line-height: 2rem;
    width: 4rem;
    font-size: 1rem;
    margin-right: 5px;
}

.active_articlefind:hover,
#artclein td button:hover {
    background-color: rgb(230, 70, 55);
    color: white;
    border: 1px rgb(230, 70, 55) solid;
}

/* 文章modal */
.active_modal {
    background-color: rgba(0, 0, 0, 0.303);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 13vh;
    height: 80vh;
    /* display: flex; */
    /* display: none; */
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    background: linear-gradient(0deg, #d8d8d8, #ffffff,#ffffff,#ffffff,#ffffff, #ffffff,#ffffff, #ffffff );
    padding: 20px;
    width: 580px;
    height: 470px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgb(185, 183, 183);
}

.modal-content>div {
    width: 500px;
    height: 95%;
    margin: auto;
    overflow: auto;
}

/* modal用戶資料 */
.modal-content>div>div {
    width: 480px;
    height: 110px;
    margin: 9px auto 15px auto;
    box-shadow: 0px 0px 10px 1px rgba(170, 170, 170, 0.7);
    display: flex;
}

/* 用戶相片區 */
.clientPic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientBadge img {
    margin: 0px 2px;
    width: 12px;
    height: 12px;
}

.clientImg {
    clip-path: circle(50%);
    object-fit: cover;
    width: 60px;
    height: 60px;
}

/* 用戶資料區 */
.eachfollow{
    background: linear-gradient(165deg, #ffffff, #ffffff, #ffffff,#ffffff, #f0f0f0 );
}
.clientIntro {
    flex: 2;
}

.clientIntro>div:first-child {
    margin: 20px 0px 11px 0px;
    font-size: 20px;
}

.clientIntro span:first-child {
    display: inline-block;
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    width: 49px;
    margin-right: 8px;
    margin-bottom: 24px;
}

/* 接受拒絕 */
.clientYesNo {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.clientYesNo>div {
    flex: 1;
}

.clientYesNo>div:first-child {
    text-align: end;
    font-size: 12px;
    color: #aaaaaa;
    padding: 16px 30px 0px 0px;
}

.clientYesNo button {
    position: relative;
    cursor: pointer;
    bottom: 12px;
    border-radius: 50px;
    width: 85px;
    height: 44px;
    border: 1px solid #E64637;
    font-size: 15px;
}
.clientYesNo button:hover {
    background-color: rgb(254, 96, 82);
    box-shadow: 1px 2px 2px 0px rgba(141, 7, 7, 0.7);
}

.clientYesNo button:first-child {
    margin-right: 10px;
    background-color: transparent;
    color: rgb(230, 70, 55);
}
.clientYesNo button:first-child:hover{
    /* color:rgb(254, 96, 82) ; */
    /* border:rgb(255, 70, 54) 1px solid; */
    box-shadow: 1px 2px 2px 0px rgba(255, 101, 101, 0.338);
}

.clientYesNo button:nth-child(2) {
    background-color: rgb(230, 70, 55);
    color: white;
}

/* modal關閉按鈕 */
.active_close {
    color: #aaaaaa;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.active_close:hover,
.active_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* 文章編輯modal */
.zeroda_modal {
    background-color: rgba(0, 0, 0, 0.303);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 13vh;
    height: 80vh;
    /* display: flex; */
    /* display: none; */
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.zeroda_modal_content {
    /* position: relative; */
    background-color: #fefefe;
    background: linear-gradient(315deg, #d8d8d8, #ffffff,#ffffff,#ffffff,#ffffff, #ffffff,#ffffff, #ffffff,#ffffff );

    width: 530px;
    height: 50vh;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 0px 0px 10px 5px rgb(185, 183, 183);
    overflow: auto;
    border-radius: 15px;
}
.zeroda_modal_content::-webkit-scrollbar {
    width: 0.5em;
  }
    
  /* .zeroda_modal_content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  } */
    
  .zeroda_modal_content::-webkit-scrollbar-thumb {
    background-color: rgb(213, 213, 213);
    border: none;
    border-radius: 50px;
  }

.zeroda_modal label {
    font-size: 20px;
}

.zeroda_modal input {
    border: none;
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
    height: 45px;
    margin-bottom: 27px;
    padding: 10px 23px;
    font-size: 24px;
    justify-content: space-between;
}

#zlevel,
#znumber,
#zcost {
    width: 90px;
    text-align: center;
    margin-right: 25px;
}

.zeroda_modal select {
    margin-bottom: 27px;
    margin-left: 7px;
    margin-right: 7px;
    width: 80px;
    appearance: none;
    z-index: 2;
    position: relative;
    background-color: transparent;
}

.zeroda_modal select+img {
    position: absolute;
    top: 53px
}

.zeroda_modal textarea {
    resize: none;
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 100px;
    font-size: 1.5rem;
    padding: 20px;
    box-sizing: border-box;
}

.zeroda_modal_yesOrNot {
    /* background-color: aqua; */
    color: rgb(230, 70, 55);
    padding: 0px;
    display: inline-block;
    /* width: 414px; */
    height: 63px;
    /* line-height: 63px; */
    text-align: center;
    font-size: 24px;
    border-radius: 50px;
}

.zeroda_modal_yesOrNot span {
    color: rgb(230, 70, 55);
    border: 1px solid rgb(230, 70, 55);
    padding: 0px;
    display: inline-block;
    border-radius: 50px;
    width: 150px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

.zeroda_modal_yesOrNot input {
    color: white;
    background-color: rgb(230, 70, 55);
    ;
    padding: 0px 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    width: 150px;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
}