.selfalter {
    height:720px;
    width: 1060px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    margin-top: 50px;
}

.form {
    width: 90%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form>div:first-child {
    display: flex;
}

/* 照片區 */
.alter_PicPla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file {
    display: none;
}

#picFile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#picFile,
#picFile img {
    background-color: rgb(245, 245, 245);
    width: 175px;
    height: 175px;
    object-fit: cover;
    clip-path: circle(50%);
    font-size: 20px;
}

.alter_PicPla embed {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

/* 主要輸入內容 */
textarea {
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    height: 45px;
    margin-bottom: 27px;
    padding: 10px 23px;
    font-size: 24px;
}
.input2{
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    height: 45px;
    font-size: 24px;
}
.input22{
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    height: 45px;
    font-size: 24px;
    padding-left: 10px;
}
.input3{
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    width: 100px;
    height: 45px;
    font-size: 24px;
    margin-left: 10px;
    text-align: center;
}
.input4{
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    width: 100px;
    height: 45px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 8px;
    padding: 0;
}

label {
    color: #AAAAAA;
    font-size: 20px;
    line-height: 43px;
}

.sex {
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    width: 140px;
    height: 55px;
    border: 2px solid #E6E6E6;
    font-size: 24px;
    color: #E6E6E6;
    line-height: 55px;
    margin-bottom: 27px;
}

.sex:hover {
    color: black;
    background-color: #F5F5F5;
}

.degree {
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    width: 450px;
    height: 55px;
    margin: 7px 0px 8px 0px;
}

.degree div {
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 24px;
    bottom: 15px;
    width: 108px;
}

.degree label {
    display: inline-block;
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 15px;
    padding: 0px 25px 0px 12px;
}

/* 徽章 */
.mark {
    background-color: #F5F5F5;
    height: 64px;
    width: 640px;
    border-radius: 50px;
    /* line-height: 64px; */
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.mark embed {
    width: 20px;
    height: 20px;
    padding-right: 7px;
}

/* 描述 */
#account_describe {
    width: 640px;
    height: 170px;
    border-radius: 30px;
}

/* 取消 確認 */
.alter_yesOrNot {
    display: flex;
    margin-top: 20px;
}

.input{
    background-color: rgb(230, 70, 55);
    color: white;
    padding: 0px 0px;
    width: 414px;
    height: 63px;
    margin-left: 20px;
}

.alter_backself {
    color: rgb(230, 70, 55);
    border: 1px solid rgb(230, 70, 55);
    padding: 0px;
    display: inline-block;
    border-radius: 50px;
    width: 414px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.div2{
    text-align: center;color:#AAAAAA;
}
.div3{
    font-size: 40px;
}
.div4{
    display: none;
}
.div5{
    padding-left:40px;
}
.div6{
    align-items: center;
}