@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
.font{
    font-size: 20px;
    color: #383838;
}
.span{
    font-size: 16px;
    color: #aaaaaa;
}
.font1{
    font-size: 16px;
    color: #aaaaaa;
}
.font2{
    font-size: 24px;
    color: #383838;
}
.boxshadow{
    box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25);
}
.date {
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    z-index: 2;
}
.date::-webkit-calendar-picker-indicator {
    width: 27px;
    opacity: 0;
}
.dateimg{
    position: relative;
}
.selectedDate {
    position: absolute;
    top: 20px;
    right: 0px;
}
.select{
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    appearance: none;
    z-index: 2;
}
.selectimg{
    position: relative;
}
.img{
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: transparent;
}

.ccc{
    border-radius: 30px;
    background-color: #f5f5f5;
    border: 0;
    height: 45px;
    text-align: center;
}
.ccc::placeholder{
    color: #aaaaaa;
}
.submit{
    width: 100%;
    height: 65px;
    background-color: #e64637;
    color: white;
    border-radius: 30px;
    font-size: 24px;
    border: 0;


}
.button1{
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    color: #aaaaaa;
    width: 70px;
    height: 38px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.button2{
    color: #e64637;
    border: 1px solid #e64637;
    width: 150px;
    height: 65px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.button3{
    height: 100px;
    padding: 0;
    background-color: #f5f5f5;
    color: #aaaaaa;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.focus123{
    background-color: white;
    border-bottom: 2px solid #e64637;
    box-sizing: border-box;
    color: #000000;
}
.div1{
    /* margin-top: 200px;  */
    padding: 0px;
    position: relative;
    top: 5vh;
    margin-left: auto;
    margin-right: auto;
}
.div2{
    margin: 0px 50px;
}
.div3{
    height: 600px; 
    margin-right: 12.5px;
    padding: 40px;
}
.div4{
    height: 100%; display: block;
}
.div5{
    height: 100%;
}
.div6{
    margin: 0px 90px 0px 0px;
}
.div7{
    width: 100%; height: 55px;text-align: center;
}
.div8{
    margin-bottom: 30px;
}
.div9{
    width: 100%; height: 55px;text-align: center;
}
.div10{
    margin-top: 10px;
}
.div11{
    width: 100%;height: 65px; text-align: center;
}
.div12{
    margin-top: 20px;
}
.div13{
    width: 100% ;margin-top: 10px;
}
.div14{
    height: 100%; display: none;
}
.div15{
    height: 100%;
}
.div16{
    margin: 0px 90px 0px 0px;
}
.div17{
    margin-top: 20px;
}
.div18{
    width: 100%;height: 55px; text-align: center;
}
.div19{
    margin-top: 20px;
}
.div20{
    width: 100%;height: 55px; text-align: center;
}
.div21{
    width: 100% ;margin-top: 10px;
}
.div22{
    width: 100% ;margin-top: 10px;
}
.div23{
    margin-top: 20px;
}
.div24{
    height: 100%; display: none;
}
.div25{
    height: 100%;
}
.div26{
    margin: 0px 90px 0px 0px;
}
.div27{
    width: 100%; height: 55px;text-align: center;
}
.div28{
    margin-top: 20px;
}
.div29{
    width: 100%;height: 45px; text-align: center;
}
.div30{
    margin-top: 20px;
}
.div31{
    width: 100%;height: 45px; text-align: center;
}
.div32{
    margin-top: 20px;
}
.div33{
    width: 100% ;margin-top: 10px;
}
.div34{
    height: 600px; margin-left: 12.5px;padding: 40px;
}
.div35{
    margin-bottom: 40px;
}
.div36{
    display: block;
    height: 400px;
}
.div37{
    margin-bottom: 20px;
}
.div38{
    padding: 0;
}
.div39{
    /* height: 100%; */
    margin-bottom: 20px;
}
.div40{
    padding: 0px;
}
.div41{
    border-bottom: 1px solid #aaaaaa; padding: 20px 0px;
}
.div42{
    margin-right: 15px;
}
.div43{
    display: none;
}
.div44{
    margin-bottom: 20px;
}
.div45{
    height: 100%;
}
.div46{
    padding: 0px;
}
.div47{
    border-bottom: 1px solid #aaaaaa; padding: 20px 0px;
}
.div48{
    margin-right: 15px;
}
.div49{
    display: none;
}
.div50{
    margin-bottom: 20px;
}
.div51{
    height: 100%;
}
.div52{
    border-bottom: 1px solid #aaaaaa; padding: 20px 0px;
}
.div53{
    margin-right: 15px;
}
.div54{
    overflow-y: scroll;
    width: 100%;
}
.div55{
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0,0.5);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
.div56{
    /* background-color: white; */
    width: 1060px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 4;
    top: 5vh;
}
/* 零打編輯頁面 */
.cover {
    width: 1060px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25);
    /* margin-bottom: 200px; */
    overflow-y: scroll;
}

.contain {
    width: 80%;
    height: 90%;
}



/* 主要輸入內容 */
.dlabel {
    color: #AAAAAA;
    font-size: 16px;
    line-height: 23px;
}

.dinput{
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    height: 35px;
    margin-bottom: 27px;
    /* padding: 10px 23px; */
    font-size: 24px;
    padding-left: 10px;
}
.dinputaddr{
    width: 500px;
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    height: 35px;
    margin-bottom: 27px;
    /* padding: 10px 23px; */
    font-size: 24px;
    padding-left: 10px;
}
.dinputnum{
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    height: 35px;
    margin-bottom: 27px;
    /* padding: 10px 23px; */
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}
.dtextarea {
    border: none;
    background-color: #F5F5F5;
    border-radius: 50px;
    height: 35px;
    margin-bottom: 27px;
    padding: 10px 23px;
    font-size: 24px;
    height: 70px;
    max-height: 230px;
}

.dselect {
    border: none;
    border-bottom: 1px black solid;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    margin-bottom: 20px;
    text-align: center;
}

/* 市 區 */
.ct_citycover {
    display: flex;
}

.ct_citycover>div {
    margin-right: 40px;
}
.ct_citycover select{
    width: 185px;
    text-align: center;
}

/* 日期 */
.dinputdate {
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    z-index: 2;
    border-radius: 0px;
    width: 185px;
    font-size: 20px;
}

.dinputdate::-webkit-calendar-picker-indicator {
    width: 27px;
    height: 30px;
    opacity: 0;
}

.ct_seleD {
    position: relative;
    top: 0px;
    right: 30px;
}

/* 時段 */
.ct_time {
    display: flex;
}
.ct_time select{
    width: 145px;
    line-height: 30px;
}

/* 程度 */
#ct_range {
    width: 144px;
    text-align: center;
}

/* 人數 */
.minus {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #9e9e9e;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 24px;
}

.numbox {
    border: none;
    border-bottom: 1px black solid;
    width: 30px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    margin-bottom: 20px;
    border-radius: 0px;
    color: rgb(230, 70, 55);
    text-align: center;
}

.numbox::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* 描述 */
#ct_discribe {
    width: 691px;
    height: 105px;
}

/* 取消 確認 */
.ct_yesOrNot {
    display: flex;
    margin-top: 20px;
}

.dinputsubmit {
    background-color: rgb(230, 70, 55);
    color: white;
    padding: 0px 0px;
    width: 414px;
    height: 63px;
}

.ct_backself {
    color: rgb(230, 70, 55);
    border: 1px solid rgb(230, 70, 55);
    padding: 0px;
    display: inline-block;
    border-radius: 50px;
    width: 414px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    font-size: 24px;
    user-select: none;
    cursor: pointer; 

}
.ggg{
    margin:10px 20px 20px 20px;font-size: 20px;
}