@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
.font{
    font-size: 20px;
    color: #383838;
}
.span{
    font-size: 16px;
    color: #aaaaaa;
}
.font1{
    font-size: 16px;
    color: #aaaaaa;
}
.font2{
    font-size: 24px;
    color: #383838;
}
.boxshadow{
    box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25);
}
.adate{
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    z-index: 2;
}
.adate::-webkit-calendar-picker-indicator {
    width: 27px;
    opacity: 0;
}
.dateimg{
    position: relative;
}
.selectedDate1 {
    position: absolute;
    top: 20px;
    right: 0px;
}
.aselect{
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    appearance: none;
    z-index: 2;
}
.selectimg{
    position: relative;
}
.aselect+img{
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: transparent;
}
.ccc{
    border-radius: 30px;
    background-color: #f5f5f5;
    border: 0;
    height: 45px;
    text-align: center;
}
.ccc::placeholder{
    color: #aaaaaa;
}
.submit{
    width: 100%;
    height: 65px;
    background-color: #e64637;
    color: white;
    border-radius: 30px;
    font-size: 24px;
    border: 0;


}
.button1{
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    color: #aaaaaa;
    width: 70px;
    height: 38px;
    text-align: center;
}
.button11{
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    color: #aaaaaa;
    width: 120px;
    height: 38px;
    text-align: center;
}
.button2{
    color: #e64637;
    border: 1px solid #e64637;
    width: 150px;
    height: 65px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.adiv1{
    margin-top: 200px; padding: 0px;
}
.adiv2{
    margin: 0px 50px;
}
.adiv3{
    height: 600px; margin-right: 12.5px;padding: 40px;
}
.adiv4{
    height: 100%;
}
.adiv5{
    margin: 0px 90px 0px 0px;
}
.adiv6{
    width: 100%; height: 55px;text-align: center;
}
.adiv7{
    margin-bottom: 30px;
}
.adiv8{
    width: 100%; height: 55px;text-align: center;
}
.adiv9{
    margin-top: 10px;
}
.adiv10{
    width: 100%;height: 65px; text-align: center;
}
.adiv11{
    margin-top: 20px;
}
.adiv12{
    width: 100% ;margin-top: 10px;
}
.adiv13{
    height: 600px; margin-left: 12.5px;padding: 40px 40px 40px 40px;
}
.adiv14{
    margin-bottom: 20px;
}
.adiv15{
    padding: 0;
}
.adiv16{
    height: 100%;
    overflow: scroll;
}
.adiv17{
    border-bottom: 1px solid #aaaaaa; padding: 20px 0px;margin-bottom: 20px;
}
.adiv18{
    margin-right: 15px;
}
.adiv19{

}
.adiv55{
    position: fixed;
    z-index: 500001;
    background-color: rgba(0, 0, 0,0.5);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
