@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
.font{
    font-size: 20px;
    color: #383838;
}
span{
    font-size: 16px;
    color: #aaaaaa;
}
.font1{
    font-size: 16px;
    color: #aaaaaa;
}
.font2{
    font-size: 24px;
    color: #383838;
}
.boxshadow{
    box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25);
}
input[type='date'] {
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    z-index: 2;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 27px;
    opacity: 0;
}
.dateimg{
    position: relative;
}
.selectedDate {
    position: absolute;
    top: 20px;
    right: 0px;
}
select{
    position: relative;
    border: none;
    border-bottom: 1px black solid;
    line-height: 30px;
    background-color: transparent;
    appearance: none;
    z-index: 2;
}
.selectimg{
    position: relative;
}
select+img{
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: transparent;
}
.ccc{
    border-radius: 30px;
    background-color: #f5f5f5;
    border: 0;
    height: 45px;
    text-align: center;
}
.ccc::placeholder{
    color: #aaaaaa;
}
.submit{
    width: 100%;
    height: 65px;
    background-color: #e64637;
    color: white;
    border-radius: 30px;
    font-size: 24px;
    border: 0;


}
.button1{
    border-radius: 30px;
    border: 1px solid #e6e6e6;
    color: #aaaaaa;
    width: 70px;
    height: 38px;
    text-align: center;
}
.button2{
    color: #e64637;
    border: 1px solid #e64637;
    width: 150px;
    height: 65px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 36px;
}
/* nav---------------------------------------------------------------------- */
.navbar {
    background-color: white;
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0px;
    z-index: 500;
    transition-duration: .8s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25);
}

.navbar+div {
    /* 取消height 3000 */
    position: relative;
    /* background-color: aqua;  */
}

.nContent {
    /* background-color: aqua; */
    width: 95vw;
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nLeft {
    display: flex;
    align-items: center;
}

.nLeft {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2rem;
}

.nRight {
    display: flex;
    align-items: center;
    margin: auto 20px auto 0px;
}

.nRight a {
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.nRight>div {
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: stretch;
    font-size: 1rem;
    font-family: 'Noto Sans TC';
    color: rgb(30, 30, 30);
}

.nRight>div:nth-child(1) {
    /* 底線 */
    border-bottom: 2px rgb(230, 70, 55) solid;
}

.nRight>img {
    height: 40px;
/* 改40 */
    margin-left: 30px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
}

.test {
    height: 1000px;
    width: 100px;
}

/* Footer--------------------------------------------------------------------------- */
.footer {
    background-color: rgb(230, 70, 55);
    width: 100vw;
    height: 8vh;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    padding-bottom: 8vh;
    overflow-x: hidden;
}

.fContent {
    width: 95vw;
    display: flex;
    flex-direction: row-reverse;

}

.fContent>div {
    font-size: 0.7rem;
    font-weight: 300;
    font-family: 'Noto Sans TC';
    color: white;
}
.div1{
    margin-top: 200px; 
    padding: 0px;
}
.div2{
    margin: 0px 50px;
}
.div3{
    height: 600px;
    margin-right: 12.5px;
    padding: 40px;
}
.div4{
    height: 100%;
}
.div5{
    margin: 0px 90px 0px 0px;
}
.div6{
    width: 100%; 
    height: 55px;
    text-align: center;
}
.div7{
    margin-bottom: 30px;
}
.div8{
    width: 100%; 
    height: 55px;
    text-align: center;
}
.div9{
    margin-top: 10px;
}
.div10{
    width: 100%;
    height: 65px; 
    text-align: center;
}
.div11{
    margin-top: 20px;
}
.div12{
    width: 100% ;margin-top: 10px;
}
.div13{
    height: 600px; 
    margin-left: 12.5px;
    padding: 40px 40px 40px 40px;
}
.div14{
    margin-bottom: 20px;
}
.div15{
    padding: 0;
}
.div16{
    height: 100%;
}
.div17{
    padding: 0px;
}
.div18{
    border-bottom: 1px solid #aaaaaa; padding: 20px 0px;
}
.div19{
    margin-right: 15px;
}