.aaaaa{
    margin-top: 200px;
    
}
.aadiv1{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500001;
    
}
.aadiv2{
    width: 500px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 20px;
    position: relative;
    z-index: 500002;
}
.a{
background-color: red;
width: 100px;
height: 100px;
}
.b{
background-color: blue;
width: 100px;
height: 100px;
}