.dwwe{
    /* width: 100%; */
    color: rgb(255, 255, 255);
    padding-right: 10px;
    margin: 20px 10px 7px 10px;
    /* float: right; */
    display: flex;
    justify-content: end;
    
}
.dwwe2{
    /* width: 100%; */
    color: rgb(0, 0, 0);
    padding-right: 10px;
    margin: 10px 10px 7px 10px;
    /* float: right; */
    display: flex;
    justify-content: start;
    
}
.dwwe3{
    /* width: 100%; */
    color: rgb(0, 0, 0);
    padding-right: 10px;
    margin: 10px 10px 7px 10px;
    /* float: right; */
    display: flex;
    justify-content: start;
    
}
.www{
    background-color: rgb(56, 56, 56);
    border-radius: 18px;
    text-align: right;
    padding:10px 10px 10px 10px;
    margin-bottom: 5px;
}

.www2{
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    text-align: right;
    padding:10px 10px 10px 10px;
    margin-bottom: 5px;
}
.www3{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 18px;
    text-align: right;
    padding:0px 10px 0px 10px;
    margin:  0 0 -5px -10px;
    
}
.rootnavbar{
    background-color: rgb(230, 70, 55);
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0px;
    z-index: 500;
    transition-duration: .8s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25);
}

.navbar+div {
    position: relative;
}
.nContent {
    width: 95vw;
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.nLeft {
    display: flex;
    align-items: center;
}
.nLeft {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2rem;
}
.nRight {
    display: flex;
    align-items: center;
    margin: auto 20px auto 0px;
}
.nRight a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Noto Sans TC';
    color: rgb(30, 30, 30);
}
/* navbar */

.nRight>div {
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1rem;
    font-family: 'Noto Sans TC';
    color: rgb(30, 30, 30);
    
}
/* navbar visited */
#tabline{
    border-bottom: 2px rgb(230, 70, 55) solid;
    padding-bottom: 8px;
}
.notice{
    height: 20px;
    margin-left: 30px;
    cursor: pointer;
}
.username{
    display: flex;
    align-items: center;
   align-content: center;
   margin-bottom: -15px;
   margin-right: 3px;
   font-size: 1rem;
   font-family: 'Noto Sans TC';
}
.userimg{
    cursor: pointer;
height: 50px;
width:50px ;
object-fit: cover;
margin-left: 30px;
    border-radius: 99px;
    background-color: rgba(170, 170, 170,.2);
}
.userimg1{
    
    height: 50px;
    width:50px ;
    margin-left: 30px;
    /* object-fit: cover;
    
       border: 1px solid rgb(230, 70, 55); 
        border-radius: 99px; */
    }
.nouserimg{
    height: 20px;
    margin-left: 30px;
    cursor: pointer;
}
/* .nRight>img {
    height: 18px;
    margin-left: 30px;
    cursor: pointer;
} */
/* Footer */
.footer {
    background-color: rgb(230, 70, 55);
    width: 100vw;
    height: 8vh;
    max-height: 72px;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    padding-bottom: 8vh;
    overflow-x: hidden;
}
.footer>div>div {
    width: 95vw;
    display: flex;
    flex-direction: row-reverse;
    font-size: .9rem;
    font-weight: 400;
    font-family: 'Noto Sans TC';
    color: white;
}

