.main {
    width: 100vw;
    /* 扣除header footer高度 */
    height: 695px;
    /* header高度 */
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* 白底 */
.mContent {
    /* box-shadow: 0px 5px 25px rgba(180, 180, 180, 0.4); */
    box-shadow: 0px 0px 40px rgba(170, 170, 170, 0.7);
    width: 1010px;
    height: 560px;
    position: relative;
}
/* 會員功能列 */
.mContent>div:nth-child(1) {
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row nowrap;
}
/* 會員功能 #畫線 */
.mFilteractive{
    color: rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    border: none;
    box-sizing: border-box;
    border-bottom: 5px rgba(230, 70, 55, 1) solid;
    padding-top: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 會員功能 */
.mFilter{
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans TC';
    /* background-color: rgb(245, 245, 245); */
    background-color: rgb(230, 230, 230);
    color: rgb(170, 170, 170);
}