/* 中間內容 */
.main {
    width: 100vw;
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* 白底 */
.mContent {
    background-color: white;
    box-shadow: 0px 4px 18px rgba(180, 180, 180, 0.25);
    width: 70%;
    height: 85%;
}
/* 會員功能列 */
.mContent>div:nth-child(1) {
    height: 15%;
    display: flex;
    align-items: center;
    flex-direction: row nowrap;
}
/* 會員功能 #畫線 */
.mFilteractive{
    color: rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
    border: none;
    box-sizing: border-box;
    border-bottom: 5px rgba(230, 70, 55, 1) solid;
    padding-top: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Noto Sans TC';
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 會員功能 */
.mFilter{
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans TC';
    background-color: rgb(245, 245, 245);
    color: rgb(170, 170, 170);
}


/* 會員功能 內容 */
.mContent>div:nth-child(2) {
    /* background-color: rgb(35, 90, 31); */
    height: 85%;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    overflow: scroll;
    position: relative;
}
/* 編輯 按鈕 */
.mContent>div:nth-child(2)>button {
    position: sticky;
    top: 0;
    border: 1px solid #AAAAAA;
    border-radius: 40px;
    width:80px;
    height: 50px;
    font-family: 'Noto Sans TC';
    font-size: 1.1rem;
    font-weight: 400;
    color: #AAAAAA;
    background-color: white;
    float: right;
}
/* 照片 容器 */
.mContent>div:nth-child(2)>div:nth-of-type(1){
    overflow: hidden;
    height: 200px;
    width: 500px;
    margin-bottom: 20px;
}
/* 照片 */
.mContent img {
    width: 500px;
    position: relative;
    
}
/* 大標題 */
.mBigTitle {
    font-family: 'Noto Sans TC';
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(56, 56, 56);
    margin-bottom: 30px;
}
/* 標題 */
.mTitle {
    font-family: 'Noto Sans TC';
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(170, 170, 170);
    margin-bottom: 5px;
}
/* 內容 */
.mText {
    font-family: 'Noto Sans TC';
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(56, 56, 56);
    margin-bottom: 10px;
}
